* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$button-radius: 0.7vw;
$button-color: azure;

body {
    color: white;
    background: linear-gradient(to top right, #e06377, #c83349, #e06377, #c83349, #e06377, #c83349, #e06377, #c83349, #e06377, #c83349, #e06377, #c83349, #e06377);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    height: 100vh;
    width: 100vw;
    font-size: 1.7vw;
    overflow-x: hidden;
}

#notify {
    width: 400px;
    height: 45px;
    padding-top: 4px;
    background-color: rgb(59, 211, 22);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 30px;
    transition: all 0.5s;
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    transform: translateX(-100%);
    opacity: 0;
}

#scoreBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2vw;

    .players {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        font-weight: 600;

        .scores {
            width: 12vw;
            height: 3vw;
            margin-top: 0.2vw;
            border-radius: $button-radius;
            color: black;
            font-size: 2.2vw;
            border: 0.9px solid black;
            background-color: $button-color;
            text-align: center;
            position: relative;
            box-shadow: 0.1vw 0.1vw green;
        }
    }
}

.outer {
    height: 45vw;
    width: 38vw;
    background-color: black;
    border-radius: 1.7vw;
    box-sizing: border-box;
    border: 0.1vw solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset 0 0 0.5vw white;

    .gameName {
        margin-top: 0.3vw;
        width: 100%;
        border-bottom: 0.4vw solid rgb(52, 242, 242);
        font-size: 4vw;
        font-weight: 600;
        text-shadow: 0.2vw 0.2vw rgb(226, 43, 195);
        text-align: center;
    }

    .inner {
        width: 94%;
        aspect-ratio: 1/1;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0.3vw;
        margin-bottom: 1vw;

        .boxes {
            border-radius: 1vw;
            background-color: white;
            font-weight: 400;
            color: black;
            overflow: hidden;
            font-size: 8vw;
            box-shadow: 0 0 0.2vw rgb(0, 255, 174);
        }
    }
}

#gamePanel {
    display: flex;
    flex-direction: column;
    gap: 3vw;

    .buttons {
        width: 12vw;
        border-radius: $button-radius;
        font-size: 1.7vw;
        line-height: 3vw;
        font-weight: 600;
        text-align: center;
        color: black;
        background-color: $button-color;
        cursor: pointer;
        border: 0.1vw solid black;
        box-shadow: 0.1vw 0.1vw green;
        transition: all 0.4s;
    }

    .buttons:hover {
        box-shadow: 0.25vw 0.25vw white,
            0 0 0.2vw red;
    }
}

@media (max-width:600px) {
    body {
        flex-direction: column;
        gap: 2.2vw;
        font-size: 2.4vw;
    }

    #scoreBoard {
        flex-direction: row;
        gap: 10vw;

        .players {
            margin-top: 10vw;

            .scores {
                width: 20vw;
                height: 5vw;
                font-size: 4vw;
            }
        }
    }

    .outer {
        height: 77vw;
        width: 60vw;
        order: 3;

        .gameName {
            font-size: 6vw;
            margin-bottom: 10vw;
        }
    }

    #gamePanel {
        flex-direction: row;
        gap: 10vw;

        .buttons {
            width: 20vw;
            line-height: 5vw;
        }
    }
}

@media (max-width:430px) {
    body {
        font-size: 4vw;
    }

    #scoreBoard {
        gap: 8vw;

        .players {
            margin-top: 10vw;

            .scores {
                width: 30vw;
                height: 7vw;
                font-size: 6vw;
            }
        }
    }

    .outer {
        height: 100vw;
        width: 88vw;

        .gameName {
            font-size: 8vw;
            text-shadow: 0.33vw 0.33vw rgb(226, 43, 195);
        }
    }

    #gamePanel {
        gap: 8vw;

        .buttons {
            width: 30vw;
            line-height: 7vw;
        }
    }
}